.container {
    height: 200px;
    position: relative;
}
  
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

#loginButton {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

#appTitle {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 70px;
}

body {
    background-image: url('../assets/background-img.jpg');
    background-size: cover;
}